<table>
    <thead>
        <tr>
            <th>{{ _('Location') }}</th>
            <th>{{ _('Product') }}</th>
            {% if data['parameters']['has_lot'] %}<th>{{ _('Lot') }}</th>{% endif %}
            <th>{{ _('Quantity') }}</th>
        </tr>
    </thead>
    {% for k in data['records']|sort(attribute=data['parameters']['sort_atribute']) %}
    {% set product = k['product'] %}
    <tr>
        <td>{{ k['location'].name }}</td>
        <td>{{ product.rec_name }}</td>
        {% if data['parameters']['has_lot'] %}<td>{{ k['lot'] and k['lot'].rec_name }}</td>{% endif %}
        <td>{{ k['quantity']|render(digits=product.default_uom.digits) }}</td>
    </tr>
    {% endfor %}
</table>
