{% block style %}

<style type="text/css">
    @page {
        size: A4;
    }
    @media print {
      #header-details {
        display: none;
      }
    }
</style>
{% endblock %}

{% block title %}
    {{ _('Total Inventory') }} - {{ data['parameters']['company'].rec_name }} - {{ data['parameters']['now'] }}
{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ _('Total Inventory') }} - {{ data['parameters']['company'].rec_name }} - {{ data['parameters']['now'] }}</h2>
                {% if data['records'] %}
                    {{ show_lines(data['records']) }}
                {% else %}
                    <strong>{{ _('No records found') }}</strong>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
