<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'stock_inventory_jreport/templates/base.css'|modulepath }}"/>
    {% block style %}{% endblock %}
  </head>

  <body>
    {% block body %}
    {% block main scoped %}

    {% block company_header scoped %}
    {% endblock company_header %}

    {% block report_body scoped %}
    {% endblock report_body %}

    {% block report_footer scoped %}
    {% endblock report_footer %}


    {% endblock main %}
    {% endblock body %}
  </body>
</html>
